<content>
	<div class="gameboard" data-click="focus-box"></div>
	<div class="hint_fault">Fault</div>
	<div class="hint_try">Try this</div>
	<div class="focus" data-click="select-nr">
		<span class="opt_none">?</span>
		<span class="opt_1">1</span>
		<span class="opt_2">2</span>
		<span class="opt_3">3</span>
		<span class="opt_4">4</span>
		<span class="opt_5">5</span>
		<span class="opt_6">6</span>
		<span class="opt_7">7</span>
		<span class="opt_8">8</span>
		<span class="opt_9">9</span>
	</div>
</content>
